<html>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </nav>
    <body>
        <p> Hey , We would love to for you to contact us. </p>
        <h1> CONTACT US </h1>
        <!-- Need to add the address and the phone number here , should be in the footer too -->
        <h2>Address</h2>
            <p>12345 Cookie Drive, New Milk City, CC</p>
        <h3>Phone</h3>
            <p>3113332222</p>
    </body>
    <footer>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </footer>
    